.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.event-btn {
  box-sizing: content-box;
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  margin: 20px 0px 0px 0px;
  border: none;
  width: 500px;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.event-btn:hover {
  background-color: #555;
}

.collapsible {
  background-color: #AAA;
  width: 500px;
  padding: 0 18px;
  overflow: hidden;
  transition: max-height 0.2s ease;
}

#events {
  margin: 10px;
  height: 500px;
  width: 556px;
  overflow-y: auto;
}
