.event-btn {
  box-sizing: content-box;
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 0 1rem;
  margin: 1.5em 0px 0px 0px;
  border: none;
  text-align: left;
  outline: none;
  width: 100%;
}

.event-btn:hover {
  background-color: #555;
}

.collapsible {
  background-color: #AAA;
  padding: 0 1rem;
  overflow: hidden;
  transition: max-height 0.2s ease;
  width: 100%;
}

.collapsible-inner {
  padding: 0.5rem 0;
}

#events {
  margin: 10px;
  height: 500px;
  width: 556px;
}
